<!doctype html>
<html>


<head>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='142202364-3',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->



	<title>Entry</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
	<link href="/css/addPage.css" rel="stylesheet">
	
	<!-- Audio Zone -->
	<link href="audio/styles/app.css" rel="stylesheet" type="text/css">
    <link href="audio/styles/install-button.css" rel="stylesheet" type="text/css">
    <!-- End Of Audio Zone -->
    <!-- this is a comment in HTML -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<header id="main-nav-bar">
		<a href="/index" id="cancel-button">
			<img src="/images/cancel-icon1.png" class="icon1">
		</a>
			<img src="/images/save-icon1.png" class="icon1" id="save-button">
	</header>
	<div class="container">
		<div class="time-bar">
			<input id="datetime24" data-format="HH:mm MM-DD-YYYY" data-template="HH : mm MM / DD / YYYY" name="datetime" value="{{time.hour}}:{{time.minute}} {{date.month}}-{{date.day}}-{{date.year}}" type="text">
			<!-- <p id="entry-time" data-month="{{date.month}}">{{time.hour}}:{{time.minute}} {{date.weekday}} {{date.monthText}} {{date.day}}, {{date.year}}</p> -->
		</div>
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
		
		<div class="clearfix">
			<h3> How are you doing right now? </h3>
		</div>

		<div id="emojiTableAtAdd">
			<table style="width:100%">
				<script>
					document.writeln("<tr>");
					var cnt=0;	
					{{#each emojis.emojis}}
						document.writeln('<div><td><img src={{imageURL}} id={{id}} class="emoji_ADDPAGE"></td></div>');	
						cnt++;
						if(cnt%6==0){
							document.writeln("</tr><tr>");
						}
					{{/each}}
					document.writeln("</tr>");
				</script>
			</table>
		</div>

		<div style="margin: 10px;">
			<table style="width:100%">
				{{#if orign}}
					<td><img src="/images/memo_button.png" class="buttons" id="memoButton" width=60px height = 60px></td>
					<td><img src="/images/camera_button.png" class="buttons" id="cameraButton" width=60px height = 60px data-toggle="modal" data-target="#camera-modal"></td>
					<td><img src="/images/recorder_button.png" class="buttons" id="recorderButton" width=60px height = 60px></td>
				{{else}}
					<td><img src="/images/recorder_button.png" class="buttons" id="recorderButton" width=60px height = 60px></td>
					<td><img src="/images/camera_button.png" class="buttons" id="cameraButton" width=60px height = 60px data-toggle="modal" data-target="#camera-modal"></td>
					<td><img src="/images/memo_button.png" class="buttons" id="memoButton" width=60px height = 60px></td>
				{{/if}}

			</table>
		</div>

		<div class="form-group clearfix">
	      	<textarea class="form-control" id="textareaAtAdd" rows="3" style="margin-bottom: 50px"></textarea>
	    </div>

		<div classs="clearfix" id="audioAreaAtAdd">
			<section class="main-controls" >
	        	<canvas class="visualizer"></canvas>

	        	<div id="audioButtons">
	          		<button class="btn btn-info btn-block" id="recordButton">Record</button>
	        	</div>
      		</section>
      		<section class="sound-clips" id="sound-section" style="margin-bottom: 60px"></section>
      	</div> 
      	<!-- <div class="clearfix"> -->
      	<div id="cameraAreaAtAdd">
			<canvas id="camera-canvas"></canvas>
      	</div>

      	<div class="modal fade" id="camera-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
              </div>
              <div class="modal-body">
      			<video id="video" width="100%" height="auto" autoplay></video>
      			<div class="button-row">
	      			<img id="snap" src="/images/camera_button.png" class="icon">
					<img id="gallery" src="/images/gallery_button.png" class="icon">
      			</div>
			    <input id="file-input" type="file" accept="image/*" />
				
              </div>
            </div>
          </div>
        </div>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/addPage.js"></script>
	<script src="/js/moment.js"></script>
	<script src="/js/combodate.js"></script>
		<!-- Audio Zone -->
    <script src="/audio/scripts/install.js"></script>  
    <!-- Below is your custom application script -->
    <!-- <script src="/audio/scripts/app.js"></script> -->
    <!-- End of Audio Zone -->
    <script>
	  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  	ga('create', 'UA-93220932-1', 'auto');
	  	ga('send', 'pageview');
	</script>
</body>
</html>