<!doctype html>
<html>
<head>
	<title>Entry</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
	<link href="/css/entryPage.css" rel="stylesheet">
	<link href="/audio/styles/app.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<header id="main-nav-bar">
		<a href="/index" id="back-button">
			<img src="/images/back-icon-128.png" class="icon" id="back-icon">
		</a>
		<img src="/images/edit-icon.png" class="icon" id="edit-button">
		<img src="/images/cancel-icon.png" class="icon" id="cancel-button">
		<img src="/images/save-icon.png" class="icon" id="save-button">

	</header>
	<div class="container" id="entry-container" data-entryid="{{memory.id}}">
		<div class="time-bar">
			<input id="datetime24" data-format="HH:mm MM-DD-YYYY" data-template="HH : mm MM / DD / YYYY" name="datetime" value="{{memory.time.hour}}:{{memory.time.minute}} {{memory.date.month}}-{{memory.date.day}}-{{memory.date.year}}" type="text">
			<p id="entry-time" data-month="{{memory.date.month}}">{{memory.time.hour}}:{{memory.time.minute}} {{memory.date.weekday}} {{memory.date.monthText}} {{memory.date.day}}, {{memory.date.year}}</p>
		</div>
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
		


		<div class="entry clearfix">
			<div class="emoji-block">
				<img src="{{memory.emojiImageURL}}" alt="" class="emoji" id="entry-emoji" data-toggle="modal" data-emojiid="{{memory.emoji}}">
			</div>

			
			<div id="audio-block">
				
				<div class="edit-audio-control">
					<img class="audioButton inputShadow" id="audio-record-icon" src="/images/nonEmptyTape.png"></img>
					<img class="rm-element-button" id="audio-rm-button" src="/images/remove-symbol.png"></img>
					<img class="audioButton inputShadow" id="askForRecordButton" src="../images/recorder_button.png"></img>
				</div>

				<div id="player-block">
					<audio id="player" src="{{memory.audioURL}}"></audio>	
	 	    		<img class="audioButton" id="stopButton" src="../images/stop.png"></img>
		    		<img class="audioButton" id="playButton" src="../images/play.png"></img>
	 	    	</div>
	    	</div>	
			
			<!-- <div> -->
			<div>
				<img class="rm-element-button" id="img-rm-button" src="/images/remove-symbol.png"></img>			
				<img src="{{memory.imageURL}}" class="entry-img" id="entry-image" data-toggle="modal">
			</div>
			<div>
				<img class="rm-element-button" id="text-rm-button" src="/images/remove-symbol.png"></img>	
				<textarea class="edit-text-entry" id="edit-text" disabled>{{memory.memo}}</textarea>
			</div>
			<!-- </div> -->

		</div>

		<!-- modal -->
		<div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
              </div>
              <div class="modal-body">
                 <img class="img-rounded" src="{{memory.imageURL}}" style="max-width:100%;">
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="emoji-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h5 class="text-center">Choose another emoji. :D</h5>
			</div>
			<div class="modal-body">
				<table class="emoji-table" id="emoji-table">
					<script>
						document.writeln("<tr>");
						var cnt=0;	
						{{#each emojis.emojis}}
							document.writeln('<div><td><img src={{imageURL}} id={{id}} class="emojis"></td></div>');	
							cnt++;
							if(cnt%6==0){
								document.writeln("</tr><tr>");
							}
						{{/each}}
						document.writeln("</tr>");
					</script>
				</table>
			</div>

            </div>
          </div>
        </div>  

        <div class="modal fade" id="camera-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
              </div>
              <div class="modal-body">
              	<video loop id="video" width="100%" height="auto" autoplay></video>
      			<div class="button-row">
	      			<img id="snap" src="/images/camera_button.png" class="icon">
					<img id="gallery" src="/images/gallery_button.png" class="icon">
      			</div>
			    <input id="file-input" type="file" accept="image/*" />
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="warning-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
              </div>
              <div class="modal-body">
				<p style="font-size: 4vw;">Are you sure you want to delete this entry?</p>
              	<div class="button-row">
              		<button class="button" id="no-delete-button">NO</button>
      				<button class="button" id="yes-delete-button">YES</button>
              	</div>
              </div>
            </div>
          </div>
        </div>
	</div>



	<div class="modal fade" id="audio-warning-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
              </div>
              <div class="modal-body">
				<p style="font-size: 4vw;">You may overwrite your last clip by saving this modification!!</p>
              	<div class="button-row">
              		<!-- <button id="no-delete-button">NO</button> -->
      				<button id="ok-overwrite-button">OK</button>
              	</div>
              </div>
            </div>
          </div>
        </div>
	</div>



	<div class="modal fade" data-backdrop="static" id="recorder-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" id="recorder-modal-exit-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
              </div>
				<section class="main-controls" >
		        	<canvas class="visualizer"></canvas>
		        	<div id="audioButtons">
		          		<button class="btn btn-info btn-block" id="recordButton">Record</button>
		        	</div>
	      		</section>
	            <section class="sound-clips" id="sound-section"></section>
	            <div id="audio-ok-block">
	      			<button class="btn btn-info icon" id="audio-ok-button"> OK </button>
	      		</div>           

            </div>
          </div>
        </div>


	<button id="delete-button" data-toggle="modal" data-target="#warning-modal">Delete</button>

	<script src="https://code.jquery.com/jquery.js"></script>

	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/entryPage.js"></script>
	<script src="/js/moment.js"></script>
	<script src="/js/combodate.js"></script>

</body>
</html>