<!doctype html>
<html>
<head>
	<title>MeHow</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
	<link href="/css/indexPage.css" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<!-- this is a comment in HTML -->
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<header id="main-nav-bar">
		<a href="/setting" id="setting-button">
			<img src="images/settings-icon-128.png" alt="setting" class="icon">
		</a>
		<a><img src="images/calendar-icon-128.png" alt="calendar" class="icon" id="calendar-button"></a>
		<div id="datepicker"></div>
	</header>

	<!-- <script id="memories-container" type="text/x-handlebars-template"> -->
	<div class="container">
		{{#if playButton}}
			{{#each memories}}
				{{#if date.visible}}
					<div class="time-bar" id={{id}}>
						<p>{{date.weekday}} {{date.monthText}} {{date.day}}, {{date.year}}</p>
					</div>
				{{/if}}
				<div class="entry clearfix">
					<!-- <a href="/entry/{{id}}"> -->
						<div class="emoji-block">
							<img src="{{emojiImageURL}}" alt="" class="emoji">
							<div class="index-time">{{time.hour}}:{{time.minute}}</div>
								{{#if audioURL}}
									<div id="player-block">
										<audio class={{audioURL}} onended="var button= document.getElementById($(this).attr('class')); button.src='../images/play.png'; button.classList.remove('on');" src={{audioURL}}></audio>	
							    		<img class="playButton" id={{audioURL}} src="../images/play.png"></img>
		 	    					</div>
								{{/if}}
							</div>
							<img src="{{imageURL}}" alt="" class="index-img">
						<div class=" text-entry text-entry-short"> 
							<p>{{memo}}</p>
						</div>
					<!-- </a> -->
				</div>
			{{/each}}

		{{else}}

			{{#each memories}}
				{{#if date.visible}}
					<div class="time-bar" id={{id}}>
						<p>{{date.weekday}} {{date.monthText}} {{date.day}}, {{date.year}}</p>
					</div>
				{{/if}}
					<div class="entry clearfix">
						<a href="/entry/{{id}}">
							<div class="emoji-block">
								<img src="{{emojiImageURL}}" alt="" class="emoji">
								<div class="index-time">{{time.hour}}:{{time.minute}}</div>
									{{#if audioURL}}
										<img src="/images/nonEmptyTape.png" class="emoji">
									{{/if}}
							</div>
							<img src="{{imageURL}}" alt="" class="index-img">
							<div class=" text-entry text-entry-short"> 
								<p>{{memo}}</p>
							</div>
						</a>
					</div>
			{{/each}}
		{{/if}}
	</div>
	
	<div class="add-button">
		<a href="/add">
			<img src="images/addbutton-icon-128.png" class="big-icon">
        </a>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/indexPage.js"></script>
</body>
</html>
